{{ template "base" .}}

{{ define "title" }} :: {{ .WebIDString }}{{ if .EncounterUID }} :: Encounter {{ .EncounterUID }}{{ end }}
{{ end }}

{{ define "headerLeft" }}
<div id="logo"><a href="/">{{.AppName}}</a></div>
<div id="webId"><a href="/{{ .WebIDString }}">{{ .WebIDString }}</a></div>
{{ if .EncounterUID }}<div id="encounterId">Encounter {{ .EncounterUID }}</div>{{ end }}
<div id="zone-info">
    <span class="name" id="encounter-name">(Unknown Zone)</span>
    <span class="time" id="encounter-time">00:00</span>
</div>
{{ end }}

{{ define "content" }}
<div id="timeline-overlay" class="hide">
    <div class="close">x</div>
    <div class="inner">
        <img class="action-icon" src="/static/img/attack.png" />
        <div class="action-name">Action Name</div>
        <div class="action-desc">....Action description here....</div>
        <div class="action-info">
            <span class="action-time">00.00</span>
            <span class="action-flags">Critical, Direct Hit, Heal</span>
            <div class="action-targets"></div>
        </div>
        <div class="other-actions-head">Other Nearby Actions</div>
        <div class="other-actions">
            <div class="other-action">
                <span class="action-time">00.00</span>
                <img class="action-icon" src="/static/img/attack.png" />
                <span class="action-name">Action Name</span>
            </div>
        </div>
    </div>
</div>
<div id="timeline-mouseover">
    <div class="action-name">Action Name</div>
    <div class="action-desc">....Action description here....</div>
    <div class="action-info">
        <span class="action-time">00.00</span>
        <div class="action-targets"></div>
    </div>
</div>
<div id="loadingMessage">Loading...</div>
<div id="combatants">
    <div class="combatant combatant-info combatant-npc">
        <div class="info-text">
            <span class="name">Non-Player Combatant(s)</span>
        </div>
    </div>
    <div id="playerCombatants">
    </div>
</div>
<div id="timeline" class="dragscroll"></div>
{{ end }}

{{ define "scripts" }}
<script type="text/javascript">
    var WEB_ID = "{{ .WebIDString }}";
    var ENCOUNTER_UID = "{{ .EncounterUID }}";
</script>
<script type="text/javascript" src="/app.min.js?v={{ .VersionString }}"></script>
{{ end }}
