{{ template "base" .}}

{{ define "title" }} :: {{ .WebIDString }}{{ if .EncounterUID }} :: Encounter {{ .EncounterUID }}{{ end }}
{{ end }}

{{ define "headerLeft" }}
<div id="web-id"><a href="/{{ .WebIDString }}">{{ .WebIDString }}</a></div>
{{ end }}

{{ define "headerRight" }}
<div id="app-header-right">
    <a href="#" class="hamburger-open"><img src="/static/img/hamburger.png" /></a>
</div>
{{ end }}

{{ define "content" }}
<div id="side-menu" class="hide">
    <div class="side-menu-section">
        <div class="side-menu-section-title">View</div>
        <ul id="side-menu-views">
        </ul>
    </div>   
    <div class="side-menu-section">
        <div class="side-menu-section-title">Resources</div>
        <ul>
            <li><a href="/history/{{ .WebIDString }}">History</a></li>
        </ul>
    </div>

</div>
<div id="encounter">
    <span id="encounter-name"></span>
    <span id="encounter-time" class="hide"></span>
    <span id="encounter-status" class="hide"></span>
    <span id="encounter-length"></span>
</div>
<div id="loading-progress"></div>
<div id="loading-message">Loading...</div>
<div id="overlays">
</div>
<div id="views">
</div>
{{ end }}

{{ define "scripts" }}
<script type="text/javascript">
    var WEB_ID = "{{ .WebIDString }}";
    var VERSION = "{{.VersionString}}";
    var ENCOUNTER_UID = "{{ .EncounterUID }}";
</script>
<script src="https://unpkg.com/text-encoding@0.6.4/lib/encoding-indexes.js"></script>
<script src="https://unpkg.com/text-encoding@0.6.4/lib/encoding.js"></script>
<script type="text/javascript" src="/app.min.js?v={{ .VersionString }}"></script>
{{ end }}
