{{ template "base" .}}

{{ define "title" }} :: {{ .WebIDString }}{{ if .EncounterUID }} :: Encounter {{ .EncounterUID }}{{ end }}
{{ end }}

{{ define "headerLeft" }}
<div id="web-id"><a href="/{{ .WebIDString }}">{{ .WebIDString }}</a></div>
{{ end }}

{{ define "headerRight" }}
<div id="app-header-right">
    <!-- <a href="#">Triggers</a> -->
    <!-- <a href="#">Extensions</a> -->
    <a href="#" class="hamburger-open"><img src="/static/img/hamburger.png" /></a>
    <!-- <a href="/history/{{ .WebIDString }}">History</a> -->
</div>
{{ end }}

{{ define "content" }}
<div id="side-menu" class="hide">
    <div class="side-menu-section">
        <div class="side-menu-section-title">View</div>
        <ul>
            <li><a href="#timeline" class="btn-mode-timeline">Timeline</a></li>
            <li><a href="#table" class="btn-mode-table">Table</a></li>
            <li><a href="#stream" class="btn-mode-stream">Stream</a></li>
        </ul>
    </div>   
    <div class="side-menu-section">
        <div class="side-menu-section-title">Resources</div>
        <ul>
            <li><a href="/history/{{ .WebIDString }}">History</a></li>
            <li><a href="/stats/{{ .WebIDString }}" onclick="alert('Player stats, coming...eventually!'); return false;">Stats</a></li>
        </ul>
    </div>

</div>
<div id="encounter">
    <span id="encounter-name"></span>
    <span id="encounter-time" class="hide"></span>
    <span id="encounter-status" class="hide"></span>
    <span id="encounter-length"></span>
</div>
<div id="loading-message">Loading...</div>
<div id="overlays">
</div>
<div id="views">
</div>
{{ end }}

{{ define "scripts" }}
<script type="text/javascript">
    var WEB_ID = "{{ .WebIDString }}";
    var VERSION = "{{.VersionString}}";
    var ENCOUNTER_UID = "{{ .EncounterUID }}";
</script>
<script type="text/javascript" src="/app.min.js?v={{ .VersionString }}"></script>
{{ end }}
