{{ define "title" }} :: Stats{{ end }}

{{ define "headerLeft" }}
<div id="web-id"><a href="/{{ .WebIDString }}">{{ .WebIDString }}</a></div>
<div id="zone-info"><span>History</span></div>
{{ end }}

{{ define "headerRight" }}
{{ end }}

{{ define "content" }}
    <div id="encounter-content">
        <h2>Past Encounters for {{ .WebIDString }}</h2>

        <div class="encounter-item">
            <div class="encounter-time"><strong>Start Time</strong></div>
            <div class="encounter-zone"><strong>Zone</strong></div>
            <div class="encounter-length"><strong>Length</strong></div>
            <div class="encounter-combatants"><strong>Combatants</strong></div>
        </div>

        {{ range $val := .Encounters }}
        <div class="encounter-item{{ if eq $val.EncounterCollector.Encounter.SuccessLevel 1 }} encounter-success{{ end }}">
            <div class="encounter-time" data-timestamp="{{ $val.EncounterCollector.Encounter.StartTime.Unix }}"><a href="/{{ $val.User.GetWebIDString }}/{{ $val.EncounterCollector.Encounter.UID }}">?</a></div>
            <div class="encounter-zone">{{ $val.EncounterCollector.Encounter.Zone }}</div>
            <div class="encounter-length">{{ $val.EncounterCollector.Encounter.EndTime.Sub $val.EncounterCollector.Encounter.StartTime }}</div>
            <div class="encounter-combatants">
            {{ range $combatant := $val.CombatantCollector.GetCombatants }}
            {{ if ne $combatant.Job ""}}
            <span class="encounter-combatant">{{ $combatant.Name }}</span>
            {{ end }}
            {{ end }}
            </div>
        </div>
        {{ end }}

        <div class="encounter-pagination text-center">
            {{ if lt 1 .EncounterCurrentPage }}
            <a href="/history/{{ .WebIDString }}?offset={{ .EncounterPrevPageOffset }}">&laquo; Previous</a>
            {{ end }}
            {{ .EncounterCurrentPage }} / {{ .EncounterTotalPage }}
            {{ if gt .EncounterTotalPage .EncounterCurrentPage }}
            <a href="/history/{{ .WebIDString }}?offset={{ .EncounterNextPageOffset }}">Next &raquo;</a>
            {{ end }}            
        </div>

    </div>
{{ end }}

{{ define "scripts" }}
<script type="text/javascript">
    var encounterTimeElements = document.getElementsByClassName("encounter-time");
    for (var i = 0; i < encounterTimeElements.length; i++) {
        var timestamp = encounterTimeElements[i].getAttribute("data-timestamp");
        if (!timestamp) { continue; }
        var date = new Date(timestamp * 1000);
        encounterTimeElements[i].getElementsByTagName("a")[0].innerText = date.toLocaleString();
    }
</script>
{{ end }}