{{ define "title" }} :: History{{ end }}

{{ define "headerLeft" }}
<div id="web-id"><a href="/{{ .WebIDString }}">{{ .WebIDString }}</a></div>
<div id="zone-info"><span>History</span></div>
{{ end }}

{{ define "headerRight" }}
{{ end }}

{{ define "content" }}
    <div id="encounter-content">
        <h2>Past Encounters for {{ .WebIDString }}</h2>

        <div class="encounter-search">
            <form name="encounter-search" method="GET" action="">
                <input type="text" name="search" placeholder="Player name, zone name" value="{{ .HistorySearchQuery }}" />
                <label>
                    From
                    <input type="date" name="start" value="{{ .HistoryStartDate }}" />
                </label>
                <label>
                    To
                    <input type="date" name="end" value="{{ .HistoryEndDate }}" />
                </label>
                <input type="hidden" name="tz" id="timezone" />
                <input type="submit" value="Search" />
            </form>
        </div>

        <div class="encounter-item">
            <div class="encounter-flags"><strong>Flags</strong></div>
            <div class="encounter-time"><strong>Start Time</strong></div>
            <div class="encounter-zone"><strong>Zone</strong></div>
            <div class="encounter-length"><strong>Length</strong></div>
        </div>

        {{ range $val := .Encounters }}
        <div class="encounter-item{{ if eq $val.EncounterCollector.Encounter.SuccessLevel 1 }} encounter-success{{ end }}">
            <div class="encounter-flags">
                {{ if eq $val.EncounterCollector.Encounter.SuccessLevel 1 }}<span class="encounter-flag encounter-flag-success" title="Cleared">C</span>{{ end }}
                {{ if eq $val.HasLogs true }}<span class="encounter-flag encounter-flag-logs" title="Log Data Available">L</span>{{ end }}
            </div>
            <div class="encounter-time" data-timestamp="{{ $val.EncounterCollector.Encounter.StartTime.Unix }}"><a href="/{{ $val.User.GetWebIDString }}/{{ $val.EncounterCollector.Encounter.UID }}">?</a></div>
            <div class="encounter-zone" title="{{ $val.EncounterCollector.Encounter.Zone }}">{{ $val.EncounterCollector.Encounter.Zone }}</div>
            <div class="encounter-length" title="{{ $val.EncounterCollector.Encounter.EndTime.Sub $val.EncounterCollector.Encounter.StartTime }}">{{ $val.EncounterCollector.Encounter.EndTime.Sub $val.EncounterCollector.Encounter.StartTime }}</div>
        </div>
        {{ end }}

        <div class="encounter-pagination text-center">
            {{ if lt 1 .EncounterCurrentPage }}
            <a href="/history/{{ .WebIDString }}?offset={{ .EncounterPrevPageOffset }}&{{ .QueryString }}">&laquo; Previous</a>
            {{ end }}
            {{ .EncounterCurrentPage }} / {{ .EncounterTotalPage }}
            {{ if gt .EncounterTotalPage .EncounterCurrentPage }}
            <a href="/history/{{ .WebIDString }}?offset={{ .EncounterNextPageOffset }}&{{ .QueryString }}">Next &raquo;</a>
            {{ end }}            
        </div>

    </div>
{{ end }}

{{ define "scripts" }}
<script type="text/javascript">
    document.getElementById("timezone").value = new Date().getTimezoneOffset()
    var encounterTimeElements = document.getElementsByClassName("encounter-time");
    for (var i = 0; i < encounterTimeElements.length; i++) {
        var timestamp = encounterTimeElements[i].getAttribute("data-timestamp");
        if (!timestamp) { continue; }
        var date = new Date(timestamp * 1000);
        encounterTimeElements[i].getElementsByTagName("a")[0].innerText = date.toLocaleString();
        encounterTimeElements[i].getElementsByTagName("a")[0].setAttribute("title", date.toLocaleString());
    }
</script>
{{ end }}