{{ define "headerLeft" }}
{{ end }}

{{ define "headerRight" }}
{{ end }}

{{ define "content" }}

<div id="home-content">

    <div class="home-section">
        <div class="home-section-name">About</div>
        <p class="text-center">
            <img src="/static/img/home_gang.png" alt="The Gang" />
        </p>        
        <p>
            {{.AppName}} is a tool for sharing your Final Fantasy XIV log and parse data from
            <a href="https://advancedcombattracker.com/">Advanced Combat Tracker (ACT)</a> on the
            web in real time.
        </p>
    </div>

    <div class="home-section">
        <div class="home-section-name">Download &amp; Instructions</div>
        <p class="text-center">
            <img src="/static/img/home_kynda_tomestone.png" alt="On Your Tomestone" />
        </p>               
        <p class="text-center">
            <a href="https://github.com/chompy/ffliveparse_act_plugin/archive/v{{ .ActVersionString }}.zip">Download ACT Plugin (v{{ .ActVersionString }})</a>
        </p>
        <p class="text-center">
            <a href="https://github.com/chompy/ffliveparse_act_plugin/blob/master/README.md">Install Guide</a> &bullet;
            <a href="https://github.com/chompy/ffliveparse_server/blob/master/README.md#web-site-how-to">Web Site Usage Instructions</a>
        </p>
    </div>


    <div class="home-section">
        <div class="home-section-name">My Info</div>
        {{ if (gt .User.ID 0) }}
        <p class="text-center">
            Your ACT "upload key" is...
        </p>
        <code class="well text-center">{{ .User.UploadKey }}</code>
        <p class="text-center">
            Your parse page is...
        </p>
        <div class="well text-center">
            <a id="parsePageUrl" data-web-id="{{ .WebIDString }}" href="/{{ .WebIDString }}"></a>
        </div>

        {{ else }}
        <p class="text-center textBody">
            <a href="/new">Click here to generate your upload key.</a>
        </p>
        {{ end }}
    </div>
    <div class="home-section">
        <div class="home-section-name">Discord</div>
        <p class="text-center">
            <img src="/static/img/home_mememal.png" alt="Come hangout with Mememal!" />
        </p>                       
        <p class="text-center">
            Check out the FFLiveParse Discord server!
        </p>

        <p class="text-center">
            <a href="https://discord.gg/Rt34mav">https://discord.gg/Rt34mav</a>
        </p>
    </div>
    <div class="home-section">
        <div class="home-section-name">Developer Corner</div>
        <p class="text-center">
            <img src="/static/img/home_minda.png" alt="Minda Silva @ Sargatanas" />
        </p>
        <p class="text-center">
            Time for Shadowbringers! I hope to add a number of new features and make more tweaks to encounter detection
            before the new Savage raid tier drops!
        </p>
        <p class="text-center">
            Check out my Twitch stream!<br/>
            <strong><a href="https://twitch.tv/chompy500/">twitch.tv/chompy500</a></strong>
        </p>
    </div>

    <div class="home-section">
        <div class="home-section-name">Contact &amp; Donate</div>
        <p>
            You can contact me via email at
            <strong><a href="mailto:&#110;&#097;&#116;&#104;&#097;&#110;&#064;&#111;&#103;&#100;&#101;&#110;&#046;&#116;&#101;&#099;&#104;">&#110;&#097;&#116;&#104;&#097;&#110;&#064;&#111;&#103;&#100;&#101;&#110;&#046;&#116;&#101;&#099;&#104;</a></strong>
            or on Discord at <strong>Chompy#3436</strong>. Feel free to send feature request, suggestions, or bug reports my way!
        </p>
        <p>
            Additionally, If you like FFLiveParse consider making a donation to help with hosting costs and to fund further development!
        </p>
        <div class="text-center">
            <form action="https://www.paypal.com/cgi-bin/webscr" target="_blank" method="post">
                <!-- Identify your business so that you can collect the payments. -->
                <input type="hidden" name="business"
                    value="nathan@ogden.tech">
                <!-- Specify a Donate button. -->
                <input type="hidden" name="cmd" value="_donations">
                <!-- Specify details about the contribution -->
                <input type="hidden" name="item_name" value="FFLiveParse.com">
                <input type="hidden" name="item_number" value="Donation">
                <input type="hidden" name="currency_code" value="USD">
                <!-- Display the payment button. -->
                <input type="image" name="submit"
                src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif"
                alt="Donate">
                <img alt="" width="1" height="1"
                src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >
            </form>
        </div>
        <div class="spacer"></div>
    </div>
    <div class="home-section">
        <div class="home-section-name">Version Notes</div>

        <h3>Version 1.21</h3>
        <p>
            <strong>Enhancements</strong>
            <ul>
                <li>Encounter history search and date range filter.</li>
                <li>Old encounter logs now deleted after three months to free up resources.</li>
                <li>Exported triggers are now compressed (compressed base64 encoded string).</li>
                <li>Triggers can now use the YAML format.</li>
            </ul>
        </p>        
        <p>
            <strong>Bug Fixes</strong>
            <ul>
                <li>Several bug fixes to triggers.</li>
            </ul>
        </p>        
        <h3>Version 1.19/1.20</h3>
        <p>
            Forgot to leave notes about v1.19.
        </p>
        <p>
            <strong>Enhancements</strong>
            <ul>
                <li>Improvements to mobile layout.</li>
                <li>Additional trigger options, set character name, enable/disable tts.</li>
                <li>Exported triggers are now compressed (compressed base64 encoded string).</li>
            </ul>
        </p>        
        <p>
            <strong>Bug Fixes</strong>
            <ul>
                <li>Several bug fixes to triggers.</li>
            </ul>
        </p>        
    </div>
    
</div>

{{ end }}

{{ define "scripts" }}
{{ if (gt .User.ID 0) }}
<script type="text/javascript">
window.addEventListener("load", function(e) {
    var parsePageUrlElement = document.getElementById("parsePageUrl");
    if (!parsePageUrlElement) { return; }
    parsePageUrlElement.innerText = window.location.protocol + "//" + window.location.host + "/" + "{{ .WebIDString }}";
    parsePageUrlElement.href = parsePageUrlElement.innerText;
});
</script>
{{ end }}
{{ end }}
