{{ define "headerLeft" }}
{{ end }}

{{ define "headerRight" }}
{{ end }}

{{ define "content" }}

<div id="home-content">

    <div class="home-section">
        <div class="home-section-name">About</div>
        <p class="text-center">
            <img src="/static/img/home_gang.png" alt="The Gang" />
        </p>        
        <p class="text-center">
            {{.AppName}} is a tool for sharing your Final Fantasy XIV log and parse data from
            <a href="https://advancedcombattracker.com/">Advanced Combat Tracker (ACT)</a> on the
            web in real time.
        </p>
    </div>

    <div class="home-section">
        <div class="home-section-name">Download &amp; Instructions</div>
        <p class="text-center">
            <img src="/static/img/home_kynda_tomestone.png" alt="On Your Tomestone" />
        </p>               
        <p class="text-center">
            <a href="https://github.com/chompy/ffliveparse_act_plugin/archive/v{{ .ActVersionString }}.zip">Download ACT Plugin (v{{ .ActVersionString }})</a>
        </p>
        <p class="text-center">
            <a href="https://github.com/chompy/ffliveparse_act_plugin/blob/master/README.md">Install Guide</a> &bullet;
            <a href="https://github.com/chompy/ffliveparse_server/blob/master/README.md#web-site-how-to">Web Site Usage Instructions</a>
        </p>
    </div>


    <div class="home-section">
        <div class="home-section-name">My Info</div>
        {{ if (gt .User.ID 0) }}
        <p class="text-center">
            Your ACT "upload key" is...
        </p>
        <code class="well text-center">{{ .User.UploadKey }}</code>
        <p class="text-center">
            Your parse page is...
        </p>
        <div class="well text-center">
            <a id="parsePageUrl" data-web-id="{{ .WebIDString }}" href="/{{ .WebIDString }}"></a>
        </div>

        {{ else }}
        <p class="text-center textBody">
            <a href="/new">Click here to generate your upload key.</a>
        </p>
        {{ end }}
    </div>
    <div class="home-section">
        <div class="home-section-name">Discord</div>
        <p class="text-center">
            <img src="/static/img/home_mememal.png" alt="Come hangout with Mememal!" />
        </p>                       
        <p class="text-center">
            Check out the FFLiveParse Discord server!
        </p>

        <p class="text-center">
            <strong><a href="https://discord.gg/Rt34mav">https://discord.gg/Rt34mav</a></strong>
        </p>
    </div>
    <div class="home-section">
        <div class="home-section-name">Developer Corner</div>
        <p class="text-center">
            <img src="/static/img/home_minda.png" alt="Minda Silva (my character)" />
        </p>
        <p class="text-center">
            I'm big on trying to solo heal content and have already solo healed E1S, E2S, and E3S!
            I've made a community around solo healing (and other challenges) on Discord, feel free to join us!
            We can use all the help we can get for E4S! We're on the Aether data center.
        </p>
        <p class="text-center">
            <strong><a href="https://discord.gg/SaxPDDR">https://discord.gg/SaxPDDR</a></strong>
        </p>
        <p class="text-center">
            <br/>Check out my Twitch stream! (Where I regulary stream solo heal runs!)<br/>
        </p>
        <p class="text-center">
            <strong><a href="https://twitch.tv/chompy500/">twitch.tv/chompy500</a></strong>
        </p>
    </div>

    <div class="home-section">
        <div class="home-section-name">Contact &amp; Donate</div>
        <p class="text-center">
            You can contact me via email at
            <strong><a href="mailto:&#110;&#097;&#116;&#104;&#097;&#110;&#064;&#111;&#103;&#100;&#101;&#110;&#046;&#116;&#101;&#099;&#104;">&#110;&#097;&#116;&#104;&#097;&#110;&#064;&#111;&#103;&#100;&#101;&#110;&#046;&#116;&#101;&#099;&#104;</a></strong>
            or on Discord at <strong>Chompy#3436</strong>. Feel free to send feature request, suggestions, or bug reports my way!
        </p>
        <p class="text-center">
            Additionally, If you like FFLiveParse consider making a donation to help with hosting costs and to fund further development!
        </p>
        <div class="text-center">
            <form action="https://www.paypal.com/cgi-bin/webscr" target="_blank" method="post">
                <!-- Identify your business so that you can collect the payments. -->
                <input type="hidden" name="business"
                    value="nathan@ogden.tech">
                <!-- Specify a Donate button. -->
                <input type="hidden" name="cmd" value="_donations">
                <!-- Specify details about the contribution -->
                <input type="hidden" name="item_name" value="FFLiveParse.com">
                <input type="hidden" name="item_number" value="Donation">
                <input type="hidden" name="currency_code" value="USD">
                <!-- Display the payment button. -->
                <input type="image" name="submit"
                src="//www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif"
                alt="Donate">
                <img alt="" width="1" height="1"
                src="//www.paypalobjects.com/en_US/i/scr/pixel.gif" >
            </form>
        </div>
        <div class="spacer"></div>
    </div>
    <div class="home-section">
        <div class="home-section-name">Version Notes</div>
        <h3>Version 1.41</h3>
        <p>
            <strong>Enhancements</strong>
            <ul>
                <li>Added ability to opt out of encounter history and logs beening saved. (Via ACT Plugin 0.07).</li>
            </ul>
        </p>
        <p>
            <strong>Bug Fixes</strong>
            <ul>
                <li>Fixed issue where encounter history was immediately deleted.</li>
                <li>Addressed issue where sometimes encounter history would not saved due to a database locking issue.</li>
            </ul>
        </p>
        <h3>Version 1.40</h3> 
        <p>
            <strong>Enhancements/Changes</strong>
            <ul>
                <li>Partial rewrite of code base to improve performance.</li>
                <li>Global stats has been removed.</li>
                <li>Colors in log view now more closely resemble in game log colors.</li>
                <li>Chat messages should no longer appear in the log view.</li>
            </ul>
        </p>
    </div>
</div>

{{ end }}

{{ define "scripts" }}
{{ if (gt .User.ID 0) }}
<script type="text/javascript">
window.addEventListener("load", function(e) {
    var parsePageUrlElement = document.getElementById("parsePageUrl");
    if (!parsePageUrlElement) { return; }
    parsePageUrlElement.innerText = window.location.protocol + "//" + window.location.host + "/" + "{{ .WebIDString }}";
    parsePageUrlElement.href = parsePageUrlElement.innerText;
});
</script>
{{ end }}
{{ end }}
