{{ define "headerLeft" }}
{{ end }}

{{ define "headerRight" }}
{{ end }}

{{ define "content" }}

<div id="homeContent">

    <div class="homeSection">
        <div class="homeSectionName">About</div>
        <p class="textCenter">
            <img src="/static/img/home_gang.png" alt="The Gang" />
        </p>        
        <p>
            {{.AppName}} is a tool for sharing your Final Fantasy XIV log and parse data from
            <a href="https://advancedcombattracker.com/">Advanced Combat Tracker (ACT)</a> on the
            web in real time.
        </p>
    </div>

    <div class="homeSection">
        <div class="homeSectionName">Download &amp; Instructions</div>
        <p class="textCenter">
            <img src="/static/img/home_kynda_tomestone.png" alt="On Your Tomestone" />
        </p>               
        <p class="textCenter">
            <a href="https://github.com/chompy/ffliveparse_act_plugin/archive/v{{ .ActVersionString }}.zip">Download ACT Plugin (v{{ .ActVersionString }})</a>
        </p>
        <p class="textCenter">
            <a href="https://github.com/chompy/ffliveparse_act_plugin/blob/master/README.md">Install Guide</a> &bullet;
            <a href="https://github.com/chompy/ffliveparse_server/blob/master/README.md#web-site-how-to">Web Site Usage Instructions</a>
        </p>
    </div>


    <div class="homeSection">
        <div class="homeSectionName">My Info</div>
        {{ if (gt .User.ID 0) }}
        <p class="textCenter">
            Your ACT "upload key" is...
        </p>
        <code class="well textCenter">{{ .User.UploadKey }}</code>
        <p class="textCenter">
            Your parse page is...
        </p>
        <div class="well textCenter">
            <a id="parsePageUrl" data-web-id="{{ .WebIDString }}" href="/{{ .WebIDString }}"></a>
        </div>

        {{ else }}
        <p class="textCenter textBody">
            <a href="/new">Click here to generate your upload key.</a>
        </p>
        {{ end }}
    </div>
    <div class="homeSection">
        <div class="homeSectionName">Discord</div>
        <p class="textCenter">
            <img src="/static/img/home_mememal.png" alt="Come hangout with Mememal!" />
        </p>                       
        <p class="textCenter">
            Check out the FFLiveParse Discord server!
        </p>

        <p class="textCenter">
            <a href="https://discord.gg/Rt34mav">https://discord.gg/Rt34mav</a>
        </p>
    </div>
    <div class="homeSection">
        <div class="homeSectionName">Developer Corner</div>
        <p class="textCenter">
            <img src="/static/img/home_minda.png" alt="Minda Silva @ Sargatanas" />
        </p>
        <p class="textLeft">
            I would like to use this space to shameless plug myself! My FFXIV character is
            <a href="https://na.finalfantasyxiv.com/lodestone/character/1034047/">Minda Silva @ Sargatanas</a>,
            I'm looking for people to help me solo heal savage! If you think that is something you'd be interested in
            join my solo heal Discord! We'll also be looking to do other forms of challenge runs as well.
        </p>
        <p>
            <strong>Solo Heal Discord:</strong><br/><a href="https://discord.gg/SaxPDDR">https://discord.gg/SaxPDDR</a>
        </p>
        <p>
            <strong>My FFLogs:</strong><br/><a href="https://www.fflogs.com/character/id/132739">https://www.fflogs.com/character/id/132739</a>
        </p>

    </div>

    <div class="homeSection">
        <div class="homeSectionName">Contact &amp; Donate</div>
        <p>
            You can contact me via email at
            <strong><a href="mailto:&#110;&#097;&#116;&#104;&#097;&#110;&#064;&#111;&#103;&#100;&#101;&#110;&#046;&#116;&#101;&#099;&#104;">&#110;&#097;&#116;&#104;&#097;&#110;&#064;&#111;&#103;&#100;&#101;&#110;&#046;&#116;&#101;&#099;&#104;</a></strong>
            or on Discord at <strong>Chompy#3436</strong>. Feel free to send feature request, suggestions, or bug reports my way!
        </p>
        <p>
            Additionally, If you like FFLiveParse consider making a donation to help with hosting costs and to fund further development!
        </p>
        <div class="textCenter">
            <form action="https://www.paypal.com/cgi-bin/webscr" target="_blank" method="post">
                <!-- Identify your business so that you can collect the payments. -->
                <input type="hidden" name="business"
                    value="nathan@ogden.tech">
                <!-- Specify a Donate button. -->
                <input type="hidden" name="cmd" value="_donations">
                <!-- Specify details about the contribution -->
                <input type="hidden" name="item_name" value="FFLiveParse.com">
                <input type="hidden" name="item_number" value="Donation">
                <input type="hidden" name="currency_code" value="USD">
                <!-- Display the payment button. -->
                <input type="image" name="submit"
                src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif"
                alt="Donate">
                <img alt="" width="1" height="1"
                src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >
            </form>
        </div>
        <div class="spacer"></div>
    </div>
    <div class="homeSection">
        <div class="homeSectionName">Version Notes</div>
        <h3>Version 1.16</h3>
        <p>
            <strong>Bug Fixes</strong>
            <ul>
                <li>Various tweaks to server stability issues caused by log parsing errors.</li>
                <li>Fixed combatant data when viewing past encounters.</li>
                <li>Fixed alignment issue in table view.</li>
                <li>Ongoing adjustments to encounter detection accuracy.</li>
            </ul>
        </p>        
        <h3>Version 1.15</h3>
        <p>
            <strong>Enhancements</strong>
            <ul>
                <li>Encounter 'table' view.</li>
                <li>Hamburger menu with view selector and resource links</li>
                <li>No longer relies on ACT to determine when an encounter starts and ends.</li>
                <li>Encounter data is now saved when an encounter ends. It used to save when the next encounter began.</li>
            </ul>
        </p>
        <p>
            <strong>Bug Fixes</strong>
            <ul>
                <li>Fixed timeline scrolling on touch devices.</li>
                
            </ul>
        </p>

    </div>
    
</div>

{{ end }}

{{ define "scripts" }}
{{ if (gt .User.ID 0) }}
<script type="text/javascript">
window.addEventListener("load", function(e) {
    var parsePageUrlElement = document.getElementById("parsePageUrl");
    if (!parsePageUrlElement) { return; }
    parsePageUrlElement.innerText = window.location.protocol + "//" + window.location.host + "/" + "{{ .WebIDString }}";
    parsePageUrlElement.href = parsePageUrlElement.innerText;
});
</script>
{{ end }}
{{ end }}
