{{ define "title" }} :: Global Stats{{ end }}

{{ define "headerLeft" }}
<div id="web-id">Global Stats</div>
{{ end }}

{{ define "headerRight" }}
{{ end }}

{{ define "content" }}
    <div id="player-stat-content">
        <h2>Global Player Stats</h2>
        <div id="player-stat-filters">
            <div id="player-stat-filter-value">
                <span>Rankings For:</span>
                {{ range $val := .PlayerStatSortOptions }}
                    <a href="?sort={{ $val }}&job={{ $.PlayerStatJob }}"{{ if eq $val $.PlayerStatSort }} class="current"{{ end }}>{{ $val }}</a>
                {{ end }}
            </div>
            <div id="player-stat-filter-job">
                <span>Filter By Job:</span>
            </div>
            <div id="player-stat-filter-zone">
                <span>Jump To Zone:</span>
            </div>
        </div>

        <div id="player-stats">
        </div>
    </div>
    <script type="text/javascript">
        var PLAYER_STAT_JOB = "{{ $.PlayerStatJob }}";
        var PLAYER_STAT_SORT = "{{ .PlayerStatSort }}";
    </script>
    <script type="text/javascript" src="/static/js/other/global_stats.js"></script>
{{ end }}
