{{ define "title" }} :: Stats{{ end }}

{{ define "headerLeft" }}
<div id="web-id">Stats</div>
{{ end }}

{{ define "headerRight" }}
{{ end }}

{{ define "content" }}
    <div id="stats-content">

        <div class="stat-item">
            <div class="stat-name">Active ACT Connections</div>
            <div class="stat-value">{{ .StatActConnections }}</div>
        </div>
        <div class="stat-item">
            <div class="stat-name">Active Web Users</div>
            <div class="stat-value">{{ .StatActiveWebUsers }}</div>
        </div>
        <div class="stat-item">
            <div class="stat-name">Page Loads</div>
            <div class="stat-value">{{ .StatPageLoads }}</div>
        </div>

    </div>
{{ end }}
