{{ define "title" }} :: Usage Stats{{ end }}

{{ define "headerLeft" }}
<div id="web-id">Usage Stats</div>
{{ end }}

{{ define "headerRight" }}
{{ end }}

{{ define "content" }}
    <div id="stats-content">

        <div class="stat-item stat-graph">
            <canvas id="graph-connections"></canvas>
        </div>
        <div class="stat-item stat-graph">
            <canvas id="graph-log-lines"></canvas>
        </div>

        <div class="stat-item">
            <div class="stat-name">Active ACT Connections</div>
            <div class="stat-value">{{ .StatActConnections }}</div>
        </div>
        <div class="stat-item">
            <div class="stat-name">Active Web Users</div>
            <div class="stat-value">{{ .StatActiveWebUsers }}</div>
        </div>
        <div class="stat-item">
            <div class="stat-name">Page Loads</div>
            <div class="stat-value">{{ .StatPageLoads }}</div>
        </div>

    </div>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <script type="text/javascript" src="/static/js/other/usage_stats.js"></script>
{{ end }}
