<!DOCTYPE html>
<html>
    <head>
        <title>{{ .AppName }}{{ template "title" . }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="/static/img/favicon.ico" />
        <link rel="stylesheet" href="/app.min.css?v={{.VersionString}}" />
    </head>
    <body>
        <div id="error-overlay" class="hide">
            <div id="error-overlay-message" class="textCenter textBold">An error has occured.</div>
        </div>
        <div id="modal" class="hide">
            <div id="modal-content">
                <h2 class="text-left">Extensions</h2>
                <div class="extensionAdd text-left">
                    <form>
                        <input type="text" placeholder="Enter Extension URL" />
                        <input type="button" value="Add" />
                    </form>
                </div>
                <div class="extension-list text-left">
                    <div class="extension-item">
                        <span class="name">Test Extension 1 (https://example.com/test.js)</span>
                        <span class="options">
                            <a href="#">Config</a>
                            <a href="#">Remove</a>
                        </span>
                    </div>
                    <div class="extension-item">
                        <span class="name">Test Extension 1</span>
                        <span class="options">
                            <a href="#">Config</a>
                            <a href="#">Remove</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div id="container">
            <div id="head">
                <div class="left-side">
                    <div id="logo"><a href="/">{{.AppName}}</a> <span class="app-version">(v{{.VersionString}})</span></div>
                    {{ template "headerLeft" . }}
                </div>
                <div class="right-side">
                    {{ template "headerRight" . }}
                </div>
                <div class="clear"></div>
            </div>
            <div id="body">
                {{ template "content" . }}
            </div>
        </div>
        <div id="footer">
            &copy; 2018-2019 Nathan Ogden :: <a href="https://na.finalfantasyxiv.com/lodestone/character/1034047/">Minda Silva (Sargatanas)</a>
        </div>
        <script type="text/javascript" src="/static/js/other/footer_fix.js"></script>
        {{ template "scripts" . }}
    </body>
</html>

{{ define "scripts" }}{{ end }}
{{ define "title" }}{{ end }}

