#head {
    background-color: #9b0808;
    border-bottom: 1px solid #fff;
    padding: 10px 8px;
    color: #fff;
    position: relative;
    z-index: 3;

    #logo, #web-id, #zone-info, #encounter-id {
        display: inline-block;
    }

    #web-id::before, #zone-info span::before, #web-id::before, #encounter-id::before {
        content: "::";
        display: inline-block;
        margin-right: 4px;        
    }

    #logo {
        font-weight: bold;
        .app-version {
            font-size: 14px;
        }
    }

    #zone-info {
        .time {
            font-weight: bold;
        }
        #encounter-name {
            @media (max-width: 600px) {
                display: none;
            }
        }
    }

    #encounter-id {
        @media (max-width: 940px) {
            display: none;
        }
    }

    .left-side {
        float: left;
        vertical-align: middle;
    }

    .right-side {
        float: right;
        #app-header-right {
            display: inline-block;
        }
        .hamburger-open {
            img {
                max-width: 18px;
            }
        }
    }

}