#encounter-content {
    margin:20px;

    .encounter-item {
        padding: 5px;
        &.encounter-success, &.encounter-success a {
            color: #06ea06;
        }
        div {
            display: inline-block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;            
        }
        .encounter-time {
            width: 20%;
        }
        .encounter-zone {
            width: 30%;
        }
        .encounter-length {
            width: 15%;
        }
        .encounter-combatants {
            width: 30%;
            &::after {
                display: inline;
                content: ", ";                
            }
            &:last-child::after {
                content: "";
            }
        }
        .encounter-pagination {
            margin-top: 15px;
            font-size: 20px;
            a {
                font-size: 14px;
            }   
        }
    }
}
