.view-stream {
    #loading-message {
        display: none !important;
    }
    .combatant-head {
        display: none;
    }
    .combatant-row {
        &.pet {
            display: none;
        }
        @media (max-width: 320px) {
            padding: 7px 5px !important;
        }
    }
    .combatant-col {
        margin-left: 0;
        margin-right: 0;
        &.job {
            width: 38px;
            margin-right: 7px;
            img {
                width: 38px;
            }
        }
        &.name {
            width: auto;
            font-weight: normal;
            font-size: 14px;            
            position: absolute;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &.damage {
            width: auto;
            margin-top: 15px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;  
            text-align: left;         
        }
        &.healing, &.deaths {
            display: none;
        }
    }
}