html, body {
    margin: 0;
    font-family: sans-serif;
    background-color: #030d57;
    color: #fff;
}
.clear {
    clear: both;
}
.hide {
    display: none;
}

a, a:visited {
    color: #fff;
}

.well {
    background-color: #b5b5b5;
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    color: #000;
    a, a:hover, a:visited {
        color: #000;    
    }
}

.spacer {
    margin: 5px;
}

img.loading {
    background-image: url("/static/img/loading.gif");
    background-position: center center;
    background-repeat: no-repeat;
    color: transparent;
}

#error-overlay, #loading-message, #timeline-overlay, #modal {
    background: #000000b3;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    color: #fff;
    text-align: center;
    font-weight: bold;
    padding-top: 10%;    
}

#footer {
    position: absolute;
    z-index: 2;
    width: 100%;
    bottom: 0;
    background:#2d2d2d;
    border-top: 1px solid #696969;
    font-size: 10px;
    padding: 5px 0px 8px 0px;
    text-align: center;    
}

#main-body {
    padding: 20px;
}

#loading-progress {
    position: absolute;
    height: 16px;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
    padding: 3px;
    overflow: hidden;
    white-space: nowrap;
    background: #6aff00;
}

@import "text";
@import "head";
@import "head_encounter";
@import "side_menu";
@import "home";
@import "stats";
@import "history";
@import "view.combatant.table";
@import "view.combatant.stream";
@import "view.timeline";
@import "view.triggers";