CERTBOT_EMAIL=webmaster@example.com
MYSQL_ROOT_PASSWORD=password1234
MYSQL_DATABASE=ffliveparse
MYSQL_USER=ffliveparse
MYSQL_PASSWORD=password1234
FFLIVEPARSE_DATABASE_DSN=ffliveparse:password1234@tcp(ffliveparse-mysql:3306)?parseTime=true