html, body {
    margin: 0;
    font-family: sans-serif;
    background-color: #030d57;
    color: #fff;
}
.clear {
    clear: both;
}
.hide {
    display: none;
}

a, a:visited {
    color: #fff;
}

.well {
    background-color: #b5b5b5;
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    color: #000;
}

.well a, .well a:hover, .well a:visited {
    color: #000;
}

#errorOverlay, #loadingMessage {
    background: #000000b3;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    color: #fff;
    text-align: center;
    font-weight: bold;
    padding-top: 25%;    
}

#footer {
    position: absolute;
    z-index: 1;
    width: 100%;
    bottom: 0;
    background:#2d2d2d;
    border-top: 1px solid #696969;
    padding: 10px 0;
    text-align: center;    
}