#encounter-content {
    margin:20px;

}

#encounter-content .encounter-item {
    padding: 5px;
}
#encounter-content .encounter-item.encounter-success, #encounter-content .encounter-item.encounter-success a {
    color: #06ea06;
}

#encounter-content .encounter-item div {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#encounter-content .encounter-item .encounter-time {
    width: 20%;
}

#encounter-content .encounter-item .encounter-zone {
    width: 30%;
}

#encounter-content .encounter-item .encounter-length {
    width: 15%;
}

#encounter-content .encounter-item .encounter-combatants {
    width: 30%;
}

#encounter-content .encounter-item .encounter-combatants .encounter-combatant::after {
    display: inline;
    content: ", ";
}

#encounter-content .encounter-item .encounter-combatants .encounter-combatant:last-child::after {
    content: "";
}

#encounter-content .encounter-pagination {
    margin-top: 15px;
    font-size: 20px;
}

#encounter-content .encounter-pagination a {
    font-size: 14px;
}