#head {
    background-color: #9b0808;
    border-bottom: 1px solid #fff;
    padding: 10px 8px;
    color: #fff;
    position: relative;
    z-index: 3;
}
#head #logo, #head #webId, #head #zone-info, #head #encounterId {
    display: inline-block;
}
#head #webId::before, #head #zone-info span::before, #head #webId::before, #head #encounterId::before {
    content: "::";
    display: inline-block;
    margin-right: 4px;
}
#head #logo {
    font-weight: bold;
}
#head #logo .app-version {
    font-size: 14px;
}
#head #zone-info .time {
    font-weight: bold;
}

#head .left-side {
    float: left;
    vertical-align: middle;
}

#head .right-side {
    float: right;
}

#head .right-side #appHeaderRight {
    display: inline-block;
}

/*#head .right-side #appHeaderRight a::after {
    margin-left: 5px;
    content: "|";
    display: inline-block;
}*/
#head .right-side .hamburger-open img {
    max-width: 18px;
}

@media (max-width: 940px) {
    #head #encounterId {
        display: none;
    }
}
@media (max-width: 600px) {
    #head #zone-info #encounter-name {
        display: none;
    }
}
