#homeContent {
    margin:20px;
}

.homeSection {
    background-color: #262626;
    border: 1px solid #696969;
    padding: 5px 10px;
    margin-bottom: 15px;
}

.homeSection img {
    max-width: 100%;
}

.homeSection .homeSectionName {
    position: absolute;
    margin-top: -14px;
    font-weight: bold;
    font-style: italic;
}

.homeSection p {
    padding: 0;
}