#modalContent .extensionAdd input {
    width: 100%;
}

#modalContent .extensionList {
    margin-top: 15px;
}

#modalContent .extensionList .extensionItem {
    border-top: 1px solid #696969;
    padding-top: 7px;
    margin-top: 7px;
}

#modalContent .extensionList .extensionItem .options {
    float: right;
}

#modalContent .extensionList .extensionItem a {
    color: #000;
}