#stats-content {
    margin: 20px;
}

#stats-content .stat-item {
    margin-bottom: 5px;
}

#stats-content .stat-item .stat-name {
    display: inline-block;
    min-width: 332px;
    margin-right: 10px;
}

#stats-content .stat-item .stat-value {
    display: inline-block;
}