html.mode-stream, .mode-stream body {
    background: none;
    background-color: none;
}

.mode-stream #head, .mode-stream #footer, .mode-stream #timeline, .mode-stream #combatants .combatant-npc, .mode-stream #loadingMessage {
    display: none;
}

.mode-stream #combatants {
    width: 100%;
    background: none;
    background-color: none;
}

.mode-stream #combatants .combatant.pet {
    display: none;
}

@media(max-width: 940px) {
    .mode-stream .combatant-info { text-align: left; }
    .mode-stream .combatant-info .job-icon { width: 32px; height: 32px; }
    .mode-stream .combatant-info .info-text { margin-left: 5px; display: inline-block; }
    .mode-stream .combatant-info .info-text .name { display: block; }
    .mode-stream .combatant-info .info-text .parse { font-size: 16px; margin-top: 0px; }
}

@media(max-width: 512px) {
    .mode-stream #encounter #encounter-status { display: none; }
    .mode-stream #encounter #encounter-length { display: none; }
    .mode-stream #encounter #encounter-name {
        display: inline-block;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;        
    }
}