#timeline {
    width: 80%;
    height: 100%;
    left: 20%;
    overflow-x: scroll;
    overflow-y: hidden;
    position: fixed;
    cursor: grab;
}
.combatant-timeline {
    position: relative;
    transition: width .5s;
    background-image: url(/static/img/timeline_mark.png);
    background-repeat: repeat;
    border-bottom: 1px solid #fff;
    padding: 0;
}
.combatant-timeline .action {
    position: absolute;
    height: 100%;
    cursor: pointer;
    z-index: 1;
}
.combatant-timeline .action.type-gain-effect::after {
    display: block;
    position: absolute;
    top: -15px;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 2;
    content: "+";
    font-size:24px;
    max-height: 28px;
    color: #cdff00;
    text-shadow: 2px 2px black;    
}
.combatant-timeline .action.type-lose-effect::after {
    display: block;
    position: absolute;
    top: -15px;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 2;
    content: "-";
    font-size:24px;
    max-height: 28px;
    color: #cdff00;
    text-shadow: 2px 2px black;    
}
.combatant-timeline .action .icon {
    max-width: 28px;
    max-height: 28px;
    vertical-align: middle;
    display: inline-block;
    opacity: 0;
    transition: opacity .5s, margin-right .5s;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    right: 0;  
    margin: auto;
}
.combatant-timeline .action.type-gain-effect, .combatant-timeline .action.type-lose-effect {
    z-index: 3;
}
.combatant-timeline .action.type-gain-effect .icon, .combatant-timeline .action.type-lose-effect .icon {
    max-width: 24px;
    max-height: 24px;
}

.combatant-timeline .action.flag-crit .icon {
    border: 1px dashed yellow;
}
.combatant-timeline .action.special .icon {
    border: 1px dashed #ff6969;
}
.combatant-timeline .action .icon.appear {
    opacity: 1;
}
.combatant-timeline .action .icon.loading {
    background-color: #2d2d2d;
    height: 28px;
}
.combatant-timeline .action .name {
    font-size: 12px;
    display: none;
}

/** TIMELINE MOUSEOVER **/
#timeline-mouseover {
    background: #000c;
    position: absolute;
    z-index: 99;
    width: 275px;
    padding: 10px;
    display: none;
    pointer-events: none;
    margin-left:5px;
    margin-top: 10px;
}
#timeline-mouseover .action-name {
    font-size: 18px;
    font-weight: bold;
}
#timeline-mouseover .action-desc {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 10px;
}
#timeline-mouseover .action-desc .active-effects, #timeline-mouseover .action-desc .last-damages-taken {
    margin-top: 3px;
    margin-bottom: 10px;
}
#timeline-mouseover .action-desc .active-effect, #timeline-mouseover .action-desc .last-damage {
    margin-top: 2px;
}
#timeline-mouseover .action-desc .active-effect .action-icon, #timeline-mouseover .action-desc .last-damage .action-icon {
    max-width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 5px;
}
#timeline-mouseover .action-desc .active-effect .action-name, #timeline-mouseover .action-desc .last-damage .action-name {
    font-weight: normal;
    font-size: 14px;
    vertical-align: middle;
}
#timeline-mouseover .action-desc .last-damage .action-damage {
    margin-left: 5px;
    vertical-align: middle;
    font-size:10px;
}
#timeline-mouseover .action-desc .last-damage .action-damage::before {
    content: "(";
}
#timeline-mouseover .action-desc .last-damage .action-damage::after {
    content: ")";
}
#timeline-mouseover .action-info {
    margin-top: 5px;
}
#timeline-mouseover .action-info .action-time {
    font-size: 12px;
    background-image: url(/static/img/timeline_time.png);
    background-repeat: no-repeat;
    background-position: left -1px;
    padding-left:18px;
    display: block;
}
#timeline-mouseover .action-info .action-targets {
    font-size: 12px;
    background-image: url(/static/img/timeline_target.png);
    background-repeat: no-repeat;
    background-position: left -1px;
    padding-left:18px;
    display: block;
    margin-top: 5px;
}
#timeline-mouseover .action-info .action-target-source {
    visibility: hidden;
}
#timeline-mouseover .action-info .action-target:first-child .action-target-source {
    visibility: visible;
}
#timeline-mouseover .action-info .action-target-source::after {
    content: ">";
    margin-left: 3px;
    margin-right: 5px;
}
#timeline-mouseover .action-info .action-target-damage {
    display: none;
}


/** TIME KEY/TIME STAMPS **/
#timeline .time-key-container {
    height: 24px;
    width: 0;
    background: #2d2d2d;
    border-bottom: 1px solid #fff;
    color: #fff;
    vertical-align: middle;
    line-height: 24px;
    margin-left: 1px;
    position: relative;
}
#timeline .time-key-container .time-key {
    position: absolute;
}

/** TIMELINE OVERLAY **/
#timeline-overlay {
    padding-top: 0;
    overflow-y: scroll;
    z-index: 2;
    top: 0;
}
#timeline-overlay .inner {
    margin: 10% auto;
    display: inline-block;
    text-align: left;
    font-weight: normal;
    font-size: 14px;
    width: 60%;
    padding-bottom: 25px;
}
#timeline-overlay .action-icon {
    max-width: 28px;
    height: 28px;
    vertical-align: -4px;
    margin-right: 5px;
}
#timeline-overlay .action-name {
    display: inline-block;
    font-size: 28px;
    font-weight: bold;
}
#timeline-overlay .action-desc {
    margin-top: 5px;
    margin-bottom: 10px;
}
#timeline-overlay .action-desc .active-effects, #timeline-overlay .action-desc .last-damages-taken {
    margin-top: 3px;
    margin-bottom: 10px;
}
#timeline-overlay .action-desc .active-effect, #timeline-overlay .action-desc .last-damage {
    margin-top: 2px;
}
#timeline-overlay .action-desc .active-effect .action-icon, #timeline-overlay .action-desc .last-damage .action-icon {
    max-width: 16px;
    height: 16px;
}
#timeline-overlay .action-desc .active-effect .action-name, #timeline-overlay .action-desc .last-damage .action-name {
    font-weight: normal;
    font-size: 14px;
    vertical-align: middle;
}
#timeline-overlay .action-desc .last-damage .action-damage {
    margin-left: 5px;
    vertical-align: middle;
}
#timeline-overlay .action-desc .last-damage .action-damage::before {
    content: "(";
}
#timeline-overlay .action-desc .last-damage .action-damage::after {
    content: ")";
}
#timeline-overlay .action-info .action-time {
    background-image: url(/static/img/timeline_time.png);
    background-repeat: no-repeat;
    background-position: left 0px;
    padding-left:20px;
    display: block;
}
#timeline-overlay .action-info .action-flags {
    background-image: url(/static/img/timeline_flags.png);
    background-repeat: no-repeat;
    background-position: left 0px;
    padding-left:20px;
    margin-top: 5px;
    display: block;
}
#timeline-overlay .action-info .action-targets {
    background-image: url(/static/img/timeline_target.png);
    background-repeat: no-repeat;
    background-position: left 0px;
    padding-left:20px;
    display: block;
    margin-top: 5px;
}
#timeline-overlay .action-info .action-targets .action-target {
    margin-bottom: 1px;
}
#timeline-overlay .action-info .action-targets .action-target-source {
    font-style: italic;
    visibility: hidden;
}
#timeline-overlay .action-info .action-targets .action-target:first-child .action-target-source {
    visibility: visible;
}
#timeline-overlay .action-info .action-targets .action-target-source::after {
    content: ">";
    display: inline-block;
    margin-left: 8px;
    margin-right: 5px;
}
#timeline-overlay .action-info .action-targets .action-target-name {
    font-style: italic;
}
#timeline-overlay .action-info .action-targets .action-target-damage {
    font-weight: bold;
    margin-left: 4px;
}
#timeline-overlay .action-info .action-targets .action-target-damage::before {
    content: "(";
}
#timeline-overlay .action-info .action-targets .action-target-damage::after {
    content: ")";
}
#timeline-overlay .other-actions-head {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 10px;
    display: block;
}
#timeline-overlay .other-actions {
    margin-top: 6px;
}
#timeline-overlay .other-action {
    margin-top: 4px;
    cursor: pointer;
}
#timeline-overlay .other-action.this-action {
    background: #355d03;
    padding: 5px 0px;    
}
#timeline-overlay .other-action .action-time {
    background-image: url(/static/img/timeline_time.png);
    background-repeat: no-repeat;
    background-position: left 0px;
    padding-left:20px;    
    display: inline-block;
    margin-right: 10px;
    min-width: 80px;
}
#timeline-overlay .other-action .action-icon-container {
    display: inline-block;
    width: 18px;
    height: 18px;
    text-align: center;
    margin-right: 5px;
    border: 1px solid transparent;
    position: relative;
}
#timeline-overlay .other-action.flag-crit .action-icon-container {
    border: 1px dashed yellow;
}
#timeline-overlay .other-action .action-icon {
    max-width: 18px;
    height: 18px;
    margin-right: 0;
}
#timeline-overlay .other-action.flag-lose-effect .action-icon-container::after, #timeline-overlay .other-action.flag-gain-effect .action-icon-container::after {
    display: block;
    position: absolute;
    top: -9px;
    left: -1px;
    bottom: 0;
    margin: auto;
    z-index: 2;
    content: "-";
    font-size: 18px;
    max-height: 28px;
    color: #cdff00;
    text-shadow: 2px 2px black;  
}
#timeline-overlay .other-action.flag-gain-effect .action-icon-container::after {
    content: "+";
}
#timeline-overlay .other-action .action-name {
    font-size: 14px;
    font-weight: normal;
}
#timeline-overlay .close {
    position: absolute;
    right: 50px;
    top: 30px;
    font-family: sans-serif;
    font-size: 31px;
    font-weight: normal;
    cursor: pointer;
}

@media(max-width: 600px) {
    #timeline-mouseover {
        display: none !important;
    }
    #timeline-overlay .inner {
        width: 85%;
    }
}